# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX build files
*.dvi
*.xdv
# *.pdf
*.ps
*.synctex.gz
*.synctex.gz(busy)

# LaTeX intermediate files
*.fdb_latexmk
*.ilg
*.ind
*.idx
*.bcf
*.blg
*.bbl
*.run.xml

# LaTeX temporary files
*.backup
*-blx.aux
*-blx.bib
*.brf

# macOS system files
.DS_Store

# Editor backup files
*~
*.swp
*.swo
